@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-figtree: "Figtree", Verdana, sans-serif;
	--color-light: #f8fcff;
	--color-dark: #121216;
	--color-primary: #0071fc;
	--color-primary-light: var(--color-blue-500);
	--color-primary-dark: var(--color-blue-600);
	--color-primary-background-light: var(--color-blue-50);
	--color-primary-background-dark: var(--color-blue-100);
	--color-primary-border: var(--color-blue-200);
	--container-8xl: 96rem;
}
